
/* write your parent styles in here for your App.js */
.Header {
  color: black;
  text-align: center;
}

.flexWrapper {
  display: flex; 
  flex-flow: row wrap; 
  width: 95%; 
  margin: 0 auto; 
  border: 2px dashed black;
}
    
